@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Monsieur+La+Doulaise&family=Quintessential&family=Tangerine:wght@400;700&display=swap');
// Colors:
$titleColor: #f2f2f2;
$itemColor: #ffffeb;
$backgroundColor: rgb(34, 34, 34);
$navbarColor: rgb(52, 52, 52);
$clickedColor: rgb(147, 147, 116);
//fonts:
$titleFont : 'Monsieur La Doulaise', cursive;
$linkFont : 'Quintessential', cursive;
$subtitleFont : 'Josefin Slab', serif;
$textFont : 'Josefin Slab', serif;
//sizes:
$appBarHeight : 50px;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
}

main {
  width: 100%;
}

header {
  background-color: $navbarColor;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-family: $titleFont;
  height: 30px;
  line-height: 30px;
  color: $titleColor;
}

.subtitle {
  font-family: $subtitleFont;
  color: antiquewhite;
  text-align: center;
}

a,
button {
  font-family: $linkFont;
  font-size: small;
  text-decoration: none;
  color: $itemColor;
  transition: background-color 0.4s, border-radius 0.4s;

}

button {
  background-color: transparent;
  border: none;
  color: $itemColor;

  .square {
    width: 48px;
    height: 48px;
  }
}

.comming {
  font-family: 'Caveat', cursive;
  text-align: center;
  margin: 20px;
  color: white;
}

p,
h2, h3, h4,h5 ,h6{
  font-family: $textFont;
  color: #f2f2f2;
}
a:hover,
  button:hover {
    background-color: hsla(0, 0%, 49%, 0.541);
    border-radius: 10px;
    border-bottom: ridge 2px;
  }
  a:active,
  button:active {
    background-color: $clickedColor ;
  }
